#mySidenav a {
  position: absolute;
  left:  0 px; 
  transition: 0.3s;
  padding: 15px; 
  width: 100px; 
  text-decoration: none;
  font-size: 20px;
  color: white; 
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0 ; 
}

#home{
  top: 00px;
  background-color: #4CAF50;
}
#gallery {
  top: 60px;
  background-color: #2196F3; 
}

#about {
  top: 120px;
  background-color: #f44336; 
}

#contact {
  top: 180px;
  background-color: #555;
}
.title {
  position: absolute;
 top:10%;
  left : 35%;
  transform: translet(-50%,-50%);
}
.title  h1 {
    color: white;
    font-size: 50px;
    font-family: times new roman;
}
.title  h3 {
    color: white;
    font-size: 30px;
    font-family: times new roman;
}
.container{width:1000px
                  background-color: white;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 225px;
}

.content{
              width: 1400px;
               margin-left: auto;
               margin-right: auto;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.footer {
   position: absolute;
   top : 210%;
   left: 0;
   bottom: 0;
   height : 250px;
   width: 104%;
   background-color: #808080;
   color: black;
   text-align: center;
}

.footer h1 {
     color: black;
    font-size: 30px;
    font-family: times new roman;

}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
 
 
